.duoContainer {
  position: relative;

  .connectionLog {
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  .imageBackgroundCover {
    width: 100%;
    height: 90.1vh;

    .backgroundImage {
      width: 100%;
      height: 100%;
    }
  }

  .firstPianoCover {
    position: absolute;
    width: 52%;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .secondPianoCover {
    position: absolute;
    width: 52%;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
    .waitingMessage {
      color: gray;
    }
  }
}
