.chatBtn {
  position: fixed;
  bottom: 5%;
  right: 1%;
  color: white;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  border: 1px solid gray;
  padding: 5px;
  cursor: pointer;
  transition: 0.6s;
}

.chatBtn:hover {
  opacity: 0.6;
}

.chatRoomWrapper {
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 20%;
  right: 1%;
  border-radius: 10px;
  height: 400px;
  width: 300px;
  animation: rightToLeft .5s ease-in-out;

  .roomHeader {
    height: 10%;
    color: white;
    background-color: transparent;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border: 1px solid white;
    padding: 5px 10px;
    font-size: 1.3rem;
    line-height: 2.6rem;
  }

  .messageCover {
    height: 80%;
    color: white;
    padding: 5px 10px;
    margin: 0;
    list-style-type: none;
    border-right: 1px solid white;
    border-left: 1px solid white;
    overflow-y: scroll;

    .announcement {
      text-align: center;
    }

    .textMessage {
      .userName {
        margin-right: 5px;
        font-weight: bold;
      }
    }
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .messageForm {
    height: 10%;
    border: 1px solid white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: row;
  }

  .messageForm > input {
    outline: none;
    border: none;
    background-color: transparent;
    padding: 10px;
    color: white;
    width: 80%;
  }

  .sendBtnCover {
    display: inline-block;
    width: 20%;
    border-bottom-right-radius: 8px;

    button {
      width: 100%;
      height: 100%;
      border-bottom-right-radius: 8px;
      background-color: transparent;
      color: white;
      border-left: 1px solid white;
      transition: 0.5s;
    }

    button:hover {
      background-color: white;
      color: black;
    }
  }
}

@keyframes rightToLeft {
  from {
    right: -50%;
  }

  to {
    right: 1%;
  }
}
