body {
  font-family: 'Lato', sans-serif;
  margin: auto;
  overflow: hidden;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.headerContainer {
  position: relative;
  background-color: black;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;

  .titleCover {
    margin-left: 100px;

    .title {
      color: #e5474b;
      font-family: 'Pacifico', cursive;
      font-size: 1.4rem;
    }
  }


  .dropboxCover {
    position: absolute;
    right: 3%;
    
    .dropbox {
      outline: none;
      color: white;
      font-size: 2rem;
      cursor: pointer;
      transition: 0.5s;
    }

    .dropbox:hover {
      color: #e5474b;
    }
  }
}

.tutorialGuideText {
  text-align: center;
  color: white;
  font-size: 2rem;
  margin-top: -50px;
  margin-bottom: 50px;

  .guildText {
    font-size: 2.2vw;
  }
}

.theme {
  border: none;

  .ReactPiano__Key.ReactPiano__Key--accidental {
    background-color: rgba(68, 68, 68, 1);
  }

  .ReactPiano__Key.ReactPiano__Key--accidental.ReactPiano__Key--active {
    background-color: #3ac8da;
  }

  .ReactPiano__Key.ReactPiano__Key--natural {
    background-color: rgba(0, 0, 0, 0.6);
  }

  .ReactPiano__NoteLabel.ReactPiano__NoteLabel--natural, .ReactPiano__NoteLabel.ReactPiano__NoteLabel--accidental {
    color: white;
    font-size: 0.9rem;
  }

  .ReactPiano__Key.ReactPiano__Key--natural.ReactPiano__Key--active {
    background-color: #3ac8da;
  }
}
