body {
  font-family: 'Lato', sans-serif;
  margin: auto;
  overflow: hidden;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.headerContainer {
  position: relative;
  background-color: black;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.titleCover {
  margin-left: 100px;
}

.title {
  color: #e5474b;
  font-family: 'Pacifico', cursive;
  font-size: 1.4rem;
}

.dropboxCover {
  position: absolute;
  right: 3%;
}

.dropbox:hover {
  color: #e5474b;
}

.dropbox {
  outline: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  transition: 0.5s;
}
